# Python / Backend
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.env

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# System Files
.DS_Store
Thumbs.db